// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

body {
  box-sizing: border-box;
  // font-family: 'Inter', sans-serif;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  // font-family: 'Poppins', sans-serif;
}

// Breakpoints
// @media (min-width: 64em){
//     // styles go here
//   }

// 640px, 1024px, 1400px
$breakpoints-up: (
  "xs": "599px",
  "sm": "600px",
  "md": " 960px ",
  "lg": "992px",
  "xl": "1264px ",
  "xxl": "1904px"
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  "xs": "598px",
  "sm": "599px",
  "md": " 959px ",
  "lg": "991px",
  "xl": "1263px ",
  "xxl": "1903px"
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(~assets/fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(~assets/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url(~assets/fonts/Quicksand-Regular.ttf) format("truetype");
}
.text-white {
  color: #fff;
}
.d-flex {
  display: flex;
}
.pb-5 {
  padding-bottom: 15px;
}
.py-5 {
  padding: 15px 0px;
}
.my-5 {
  margin: 15px 0px;
}
.w-100 {
  width: 100%;
}
.align-center {
  align-items: center;
}
